*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#e8f1ff;
    color:#333;
}

header{
    background:#4a90e2;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#4a90e2;
}

section{
    padding:50px 20px;
    text-align:center;
}

.about img{
    width:150px;
    border-radius:50%;
    margin-top:20px;
}

.skills-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-box {
    width: 300px;
    background-color:#4a90e2;
    color:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.projects{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.project-card{
    display:inline-block;
    background:#4a90e2;
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius:20px;
}

.certificates ul{
    list-style:none;
    margin-top:20px
}

.certificates li{
    display:inline-block;
    background:#4a90e2;
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius:20px;
}

.project-card img{
    width:100%;
    border-radius:10px;
}

.resume a{
    background:#4a90e2;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:25px;
}

.contact p{
    margin:10px;
}

footer{
    background:#333;
    color:white;
    padding:15px;
    text-align:center;
}
